#flavors-title {
    text-align: center;
}

#flavors-list-div {
    display: flex;
    justify-content: center;
    font-size: 120%;
}

.flavors-ul-left {
    margin-left: 120px;
}

#flavors-footnote {
    text-align: center;
}