#page-home {
    /* display: none; */
}

#page-flavors {
    display: none;
}

#page-special-orders {
    display: none;
}

#page-custom-orders {
    display: none;
}

#page-other-services {
    display: none;
}

#page-contact-me {
    display: none;
}